
$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;